header, footer{
	display: flex;
	align-items: center;
	height: 100px;
	color: white;
	background-color: black;
	text-align: center;
}

header h1{
	margin: auto;
}

body{
	margin:0;
	font-family:Helvetica,sans-serif;
}

p{
	margin-top: 1px;
	margin-bottom:8px; 
	text-align:justify;
}

figure {
	align-items: center;
	justify-content: center;
}
 
figcaption {
	font-size: 0.8em;
    font-style: italic;
    margin-top: 5px;
	
}

video {
	width: 50%;
	border: 2px solid black;
}
  
.container
{
	margin-right:auto;
	margin-left:auto;
	padding-right:15px;
	padding-left:15px;
}

.ogg{
	padding-top:100px;
	padding-bottom:150px;
	transform: rotate(90deg);
}